* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: linear-gradient(180deg, #374151 0%, #111827 82%);
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header-wrapper {
  padding: 72px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  font-size: 18px;
  margin-right: 77px;
}

.logo img {
  width: 126px;
  height: 35px;
}

.hidden {
  font-size: 0;
  line-height: 0;
  color: transparent;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  gap: 54px;
}

.mani-nav-item a {
  text-decoration: none;
  color: inherit;
}

.mani-nav-item:hover a {
  color: #a9adb3;
}

.search-form {
  position: relative;
  margin-left: auto;
}

.search-form img {
  position: absolute;
  top: 14px;
  left: 18px;
  height: 14px;
  width: 14px;
}

.search-form input {
  height: 40px;
  width: 224px;
  padding-left: 49px;
  background: #273140;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 100px;
}

.search-form input::placeholder {
  color: #a9adb3;
}

.search-form input:focus {
  outline: 1px solid #a9adb3;
}

.post-meta {
  text-align: center;
  color: #a9adb3;
  margin-bottom: 14px;
}

.post-meta > * {
  margin: 0 6px;
}

.post-title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  width: 530px;
  margin: 0 auto 30px;
}

.author {
  margin: 0 auto 30px;
  width: fit-content;
  display: flex;
  gap: 16px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.author-job {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #a9adb3;
}

.post-hero-image {
  display: block;
  width: 896px;
  margin: 0 auto 30px;
}

.post-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 708px;
  margin: 0 auto 30px;
}

.footer-wrapper {
  padding: 77px 10px;
}

.page-footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #a9adb3;
}
